In [2]:
import numpy as np
import pandas as pd

In [3]:
first_series=pd.Series(list('abcdef'))

In [9]:
print(first_series)

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [5]:
import pandas as pd

In [8]:
#Last five olympics data:place,year and number of countries participated
olympic_data_list={'Hostcity':['London','Beijing','Athens','Sydney','Atlanta'],'Year':[2012,2008,2004,2000,1996],'No of Participating Countries':[205,204,201,200,197]}

In [11]:
df_olympic_data=pd.DataFrame(olympic_data_list)

In [13]:
df_olympic_data

  Hostcity  No of Participating Countries  Year
0   London                            205  2012
1  Beijing                            204  2008
2   Athens                            201  2004
3   Sydney                            200  2000
4  Atlanta                            197  1996

In [ ]:
import numpy as np

In [14]:
np_array=np.array([2012,2008,2004,2006])
dict_ndarray={'year':np_array}

In [15]:
df_ndarray=pd.DataFrame(dict_ndarray)

In [16]:
df_ndarray

   year
0  2012
1  2008
2  2004
3  2006